.proposal-form {
  margin-bottom: 2rem;
}

.proposal-form h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.form-group input[type="number"] {
  max-width: 300px;
}

.proposal-form button[type="submit"] {
  width: 100%;
  margin-top: 1rem;
}
